 <!-- Footer -->
 <div class="footer">
    <div class="container flex">
      <div class="quick-links">
        <h2>Quick Links</h2>
      
        <div class = "list-container">
          <div class="list-item">Home</div>
          <div class="list-item">About Us</div>
          <div class="list-item">Contact Us</div>
          <div class="list-item">Login</div>
      </div>
      
    
    </div>

    <div class="copyright">
      <p>Copyright &copy; 2024. All Rights Reserved.</p>
    </div>
  </div>
  
  <!-- End Footer -->
