<!-- About -->
<!-- <app-navbar></app-navbar> -->
<!-- <div class="section" id="about"> -->
<div class="container-flex" id="about">
  <div class="visual">
    <!-- <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/about.png" alt="" /> -->
  </div>
  <div class="text">
    <div class="secondary">
      <h1 class="heading-text">
        About Our Restaurant
      </h1>
    </div>
    <h2 class="primary">150+</h2>

    <h3 class="tertiary">Our Delicious Food</h3>

    <p class="para">
      Welcome to FOODLOVER, where culinary mastery meets warm hospitality! Our menu is a symphony of flavors showcasing a fusion of global cuisines crafted with the freshest, locally sourced ingredients. Each dish is a testament to our commitment to culinary excellence. Welcome to a world where every meal is a celebration!
    </p>

    <a href="restaurants" class="btn">Explore Restaurants</a>
  </div>
</div>
<!-- </div> -->
<!-- <app-footer></app-footer> -->
<!-- End About -->