.main-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-div {
    /* border: 2px solid red; */
    margin-top: 85px;
}

.footer-div {
    margin-top: 20px;
}