<!-- <app-navbar></app-navbar> -->
<div class="contact-container">
  <div class="contact-info">
          <p>How can we help you?</p>
          <h2>Contact Us</h2>
          <p>We're here to help and answer any questions you might have.</p>
          <p> We look forward to hearing from you!</p>
          
            <p><img src="https://w7.pngwing.com/pngs/762/452/png-transparent-grace-covenant-church-computer-icons-gps-navigation-systems-location-pin-location-text-orange-logo.png" alt="Location Icon" style="width: 30px; height: 20px;"> 
              FoodLover Headquarters<br>
              &nbsp; &nbsp; &nbsp; &nbsp; 123 Delicious Avenue<br>
              &nbsp; &nbsp; &nbsp; &nbsp;Savory City, Kolkata<br>
              &nbsp; &nbsp; &nbsp; &nbsp;India</p>
            <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL-Xxq7neoag4kl1qAG1raRkR8KZtqtlU5Ww&s" alt="Phone Icon" style="width: 20px; height: 20px;"> +1234567890</p>
            <p><img src="https://w7.pngwing.com/pngs/933/36/png-transparent-email-computer-icons-email-miscellaneous-angle-orange.png" alt="Mail Icon" style="width: 20px; height: 20px;"> Support.foodlover.com</p>
         
    <div class="social-icons">
      <a href="#"><img src="https://www.pikpng.com/pngl/m/26-268600_orange-facebook-logo-related-keywords-facebook-icon-orange.png" alt="Facebook Icon" style="width: 24px; height: 24px; margin-right: 10px;"></a>
      <a href="#"><img src="https://i.pinimg.com/originals/42/4d/e8/424de86db969a3f3232152d847645ac8.png" alt="Instagram Icon" style="width: 24px; height: 24px; margin-right: 10px;"></a>
      <a href="#"><img src="https://www.clipartmax.com/png/small/254-2540696_social-twitter-outline-orange-orange-twitter-logo-png.png" alt="Twitter Icon" style="width: 24px; height: 24px;margin-right: 10px;"></a>
      <a href="#"><img src="https://banner2.cleanpng.com/20180425/tde/kisspng-linkedin-social-media-logo-computer-icons-desktop-5ae0d06f9a1ef4.2538677415246828636313.jpg" alt="Twitter Icon" style="width: 24px; height: 24px;"></a>
  </div>
  
  </div>
  <div class="contact-form">
    <h2>Get In Touch</h2>
    <p class="required-text">*Required</p>

    <form>
      <div class="form-group">
        <input type="text" id="name" name="name" placeholder="Your Name*" required>
      </div>
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder="Your Email*" required>
      </div>
      <div class="form-group">
        <input type="text" id="company" name="company" placeholder="Company Name">
      </div>
      <div class="form-group">
        <input type="tel" id="phone" name="phone" placeholder="Phone Number*" required>
      </div>
      <div class="form-group">
        <textarea id="message" name="message" placeholder="Your Message" rows="5"></textarea>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </form>

  </div>
</div>

<!-- <app-footer></app-footer> -->
